.headerContainer {
  height: 5rem;
  border-bottom: solid 1px var(--gray-100);
}

.headerContent {
  max-width: 1120px;
  height: 5rem;
  margin: 0 auto;
  padding: 0 2rem;

  display: flex;
  align-items: center;

  h1 {
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
    font-size: 2.25rem;
  }

  nav {
    margin-left: auto;
    height: 5rem;

    a {
      display: inline-block;
      position: relative;
      padding: 0 0.5rem;
      height: 5rem;
      line-height: 5.4rem;
      color: var(--gray-900);

      transition: color 0.2s;

      &:hover {
        color: var(--black);
      }

      & + a {
        margin-left: 2rem;
      }

      &.active {
        color: var(--black);
        font-weight: 700;
      }

      &.active::after {
        content: "";
        height: 3px;
        border-radius: 3px 3px 0 0;
        width: 100%;
        position: absolute;
        bottom: 0px;
        left: 2px;
        background-color: var(--yellow-500);
      }
    }
  }

  button {
    margin-left: 2rem;
  }
}
